
    <br>
    <br>
    <!-- 
    <div class="flex-container">
    <div>
        <form action='#'>
            <table>
                <tr>
                    <td rowspan="3"> schimbare parola</td>
                    <td><input class="login-form" type="text" placeholder="Parola curenta"></td>
                
                    <td rowspan="3"> <button type="submit" class="btn">Schimba Parola</button></td>
                </tr>
                
                <tr>
                    <td><input class="login-form" type="text" placeholder="Parola noua"></td>
                </tr>
                <tr>
                    <td><input class="login-form" type="text" placeholder="Confirmare parola noua"></td>
                </tr>
                    
            </table>
        </form>
    </div>    
    <div>
        <form action='#'>
            <table>
                <tr>
                    <td rowspan="2"> schimbare email</td>
                    <td><label> se extrage emailu din bd </label></td>
                
                    <td rowspan="2"> <button type="submit" class="btn">Actualizeaza email</button></td>
                </tr>
                
                <tr>
                    <td><input class="login-form" type="text" placeholder="email nou"></td>
                </tr>
            
                    
            </table>
    </form>
    </div>    
    

    </div>
-->




<div class="flex-container">
    <div class="padd">

        <h5> Schimbare parola</h5>
        
        <form action='#'>
            <input class="login-form" type="text" placeholder="Parola curenta">
            <input class="login-form" type="text" placeholder="Parola noua">    
            <input class="login-form" type="text" placeholder="Confirmare parola noua">
            <button type="submit" class="btn">Schimba Parola</button>
        </form>

    </div>
    <div class="padd">

        <h5> Schimbare email</h5>

        <label> se extrage emailu din bd </label>
        <form action='#'>
            <input class="login-form" type="text" placeholder="email nou">
            <button type="submit" class="btn">Actualizeaza email</button>
        </form>

    </div>
</div>
